asgiref
certifi
cffi
chardet
cryptography
dj-database-url
Django
django-cors-headers
django-environ
django-extensions
django-heroku
djangorestframework
drf-jwt
environ
flake8
gunicorn
idna
importlib-metadata
mccabe
psycopg2
pycodestyle
pycparser
pyflakes
PyJWT
pytz
requests
sqlparse
typing-extensions
urllib3
whitenoise
zipp
mysqlclient